/**
 * @Author: Carlos Galeano
 * @Date:   2023-01-19 08:45:56
 * @Last Modified by:   Carlos Galeano
 * @Last Modified time: 2025-01-13 14:59:12
 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.transparent-card-body {
  background-color: rgb(229, 238, 240) !important; /* Fondo blanco semi-transparente */
  border-radius: 0.5px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.transparent-card-body * {
  background-color: transparent; /* Asegura que los hijos no tengan fondo */
}

.color-white {
  color: white;
  font-size: 18px;
  text-shadow:
    0px 0px 0.4px #0d1414,
    -0.4px -0.4px 0.4px #0d1414,
    0.4px -0.4px 0.4px #0d1414,
    -0.4px 0.4px 0.4px #0d1414,
    0.4px 0.4px 0.4px #0d1414; /* Cambiado a 0.4px */
}

.center1 {
  margin: auto !important;
  width: 50% !important;
  font-size: 18px;
  font-weight: bold;
  /* border: 3px solid rgb(25, 122, 167); */
  padding: 10px;
}

.cardAcceso {
 width: 70% !important;
 margin-left: -350px;
}

.inputColor {
  background-color: #c8c9f7 !important;
}